
/* global */

body {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

body section,
body footer {
    display: none;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
}

.orange-color {
  color: #f42;
}

.jc-space-between {
  justify-content: space-between;
}

/* header */

.top-navbar,
.bottom-navbar-left {
  display: none;
}

header .brand {
  background-color: #f42;
  background: linear-gradient(to bottom right,#c09,#f42 85%); 
  width: 106px; 
  height: 48px; 
  padding: 16px 20px; 
}

header .bottom-navbar-right {

}

header .bottom-navbar-right button {
  padding: 14px 16px;
  background-color: white;
  border: transparent;
  border-left: solid lightgray 1px;
}

/* media query */

@media only screen and (min-width: 768px) {
    .top-navbar {
      display: block;
      border: 1px solid black;
    }
  }